<header class="text-white py-4 relative bg-black">
  <div class="absolute left-0 top-0 w-full h-full" 
  style="background: url(/{{.Params.image}}) no-repeat;background-position-y:bottom;"></div>
  <div class="container flex justify-between items-center relative">
    <div class="">
      <ul class="flex gap-2 lg:gap-4">
        {{ range .Site.Menus.social -}}
        <li>
          <a href="{{.URL}}" target="_blank">
            <span class="sr-only">{{ .Name }}</span>
            <img src="/{{.Pre}}" alt="" class="w-6 lg:w-8 h-8">
          </a>
        </li>
        {{ end -}}
      </ul>
    </div>
    <nav id="mainnav"
      class="fixed lg:static bg-black bg-opacity-50 pt-12 lg:pt-0 shadow-xl lg:shadow-none w-full lg:w-auto left-0 top-0 transform -translate-y-full lg:translate-y-0 transition">
      <ul class="lg:flex lg:text-lg">
        {{ range .Site.Menus.main -}}
        <li>
          <a href="{{.URL}}" class="py-4 px-8 lg:px-4 flex lg:hover:text-primary">
            {{ .Name }}
          </a>
        </li>
        {{ end -}}
      </ul>
    </nav>
    <button type="menu" class="lg:hidden py-4 relative z-30"
      onclick="mainnav.classList.toggle('transform');this.querySelectorAll('path').forEach(e => e.classList.toggle('hidden'))">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
        <path stroke-linecap="round" class="hidden" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <br><br>
  <div class="container flex sm:justify-center py-4 relative">
    <a href="{{ .Site.Home.Permalink}}">
      <img src="/salon-logot.png" alt="logo" width="80%">
      {{/* {{ .Site.Title }} */}}
    </a>
  </div>
<script type="text/javascript">
window.Trengo = window.Trengo || {};
window.Trengo.key = '2l1Z6zujwZTwXqBaBfKI';
(function(d, script, t) {
    script = d.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = 'https://static.widget.trengo.eu/embed.js';
    d.getElementsByTagName('head')[0].appendChild(script);
}(document));
</script>
  
 <div class="salonized-booking" data-company="TkzW1QHX7E264iSmCZXoHNDs" data-color="#404043" data-language="nl" data-height="700" data-position="left" data-outline="shadow"></div><script src="https://static-widget.salonized.com/loader.js"></script> 
</header>
