<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=yes">
  {{ partial "head/title.html" . -}}
  {{ partial "head/description.html" . -}}
  {{ partial "head/link.html" . -}}
  {{ partial "head/language.html" . -}}
  {{ partial "head/image.html" . -}}
  {{ partial "head/date.html" . -}}
  {{ partial "head/schema.html" . -}}
  {{ partial "head/misc.html" . -}}
  {{ partial "head/css.html" . -}}
  {{ partial "head/js.html" . -}}
</head>